<h1>Favorited Products</h1>
<hr>
<% if current_user  &&  current_user.favorited_products.each%>
  <% current_user.favorited_products.each do |favorited_product| %>
    <p> <%= link_to favorited_product.title, product_path(favorited_product) %> </p>
  <% end %>
<% end %>
