// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.container-user,
.container-sign-in,
.container-new-or-edit-product,
.container-product
{
  width: 80%;
}


// product index page
.products > div {
  height: 200px;
}

// product show page with review
.icon-gray-star {
    color: lightgray;
}

.icon-yellow-star
{
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}


.product-review {
  height: 200px;
}

.product-review__textarea {
  height: 80% !important;
}
